html,body{
    margin: 0;
    padding: 0;
    background: black;
}

#wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 97vh;
    width: 80%;
    overflow: hidden;
    border: 2px solid rgba(97, 97, 97, 0.56);
    border-radius: 2%;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: 7px 7px 10px 0px rgba(103, 108, 254, 0.8);
}


/* video element */
#videoElement{
    flex:1;
    z-index: 10;
    width: 100%;
    height: auto;
    max-width: 87vw;
    object-fit: contain;
    overflow: auto;
}


/* room info part: */
#room-info-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    flex:1;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    font-size: 3.5rem;
    text-shadow: 1px -1px #fff, -1px 1px #999, -10px 10px 10px #80808080;
}

.nick-name{
    color: white;
}

#nick-name-info{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    gap: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 1.5rem;
    width: 25%;
    /* display: none; */
}

#nick-name-control{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: last baseline;
    margin-bottom: 1rem;
}

#nick-name-input-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.label{
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 23px;
    color: rgba(#000,.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
}

.focus-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#ffffffb6,.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

#inp-label{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}

#nick-name-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 183, 255, 0.824);
    box-shadow: inset 0 -1px 0 rgba(142, 214, 243, 0.73);
    color: #f9f7f7;
    transition: all 0.15s ease;
}

#nick-name-input:hover {
    background: rgba(219, 219, 219, 0.685);
    box-shadow: inset 0 -1px 0 rgba(192, 192, 192, 0.5);
}

#nick-name-input:not(:placeholder-shown) + .label {
    color: rgba(255, 255, 255, 0.81);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

#nick-name-input:focus {
    background: rgba(142, 214, 243, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.8); /* Assuming --primary is defined somewhere in your CSS */
}

#nick-name-input:focus + .label {
    color: rgba(255, 255, 255, 0.8); /* Assuming --primary is defined somewhere in your CSS */
    transform: translate3d(0, -12px, 0) scale(0.75);
}

#nick-name-input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

/* join button part: */

button{
    width: 130px;
    height: 49px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: linear-gradient(0deg, rgb(0, 183, 255, 0.824) 0%, rgb(0, 183, 255, 0.824) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}


button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
button:before,
button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(252, 252, 252);
    transition: all 0.3s ease;
}
button:before {
    height: 0%;
        width: 2px;
}
button:after {
    width: 0%;
    height: 2px;
}
button:hover{
    background: transparent;
    box-shadow: none;
}
button:hover:before {
    height: 100%;
}
button:hover:after {
    width: 100%;
}
button span:hover{
    color: rgb(255, 255, 255);
}
button span:before,
button span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
button span:before {
    width: 2px;
    height: 0%;
}
button span:after {
    width: 0%;
    height: 2px;
}
button span:hover:before {
    height: 100%;
}
button span:hover:after {
    width: 100%;
}


/* scroll bar: */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #757575;
}


/* room select: */
:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgb(153, 153, 153);
    --select-bg: rgba(203, 203, 203, 0.2);
}

#room-select{
     /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 15rem;
    
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: rgb(201, 201, 201);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


